
body {
  min-height: 100vh;
  color: aliceblue;
  background-color: black;
  text-rendering: optimizeSpeed;
  margin: 0;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
.container{
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2,1fr);
  grid-template-areas: 
  'one two'
  
}
.item {grid-area: one;}
.details {grid-area: two;}

/* Make images easier to work with */
/* Image Styling */
img.image {
  max-width: 70vw;
  max-height: 80vh;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2); /* Soft glow */
  transition: transform 0.3s ease-in-out;
  margin: 1.5rem;
}

/* Hover effect */
img.image:hover {
  transform: scale(1.02);
} 


/* Style buttons */
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 20px;

}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

@media only screen and (max-width: 768px) {
  .btn {
    font-size: 10px;
    padding: 10px 30px;
  }
  img.image {
    display: block;
    max-width: 90%;
    margin-right: 1.5rem
  }
  .container{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'one'
    
  }
  .item {grid-area: one;}
  .details {grid-area: one;}

}
.details p{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.download{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}
h1{
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* Style all font awesome icons */
.details .fa {
  padding: 0.5rem;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.details .fa:hover {
  opacity: 0.7;
}

/* Twitter */
.details .fa-home {
  background: #3B5998;
  color: white;
}

.details .fa-facebook {  
  background: #55ACEE;
  color: white;
}
.details .fa-telegram {  
  background: #55ACEE;
  color: white;
}
.details .fa-youtube  {  
  background: #55ACEE;
  color: white;
}

