:root{
	background-color : black;
	color: white;
}

.container{
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr auto;
}
.main,
  #item {
    grid-column: span 1 /auto; 
    text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Pushes content apart */
  align-items: center;
  height: 100%; /* Ensure full height */
}

.download {
  margin-top: auto; /* Pushes button to the bottom */
  width: 100%; /* Ensures full width */
  text-align: center; /* Center the button */
}

@media (max-width: 600px) {
    .container {
      display: flex;
      flex-direction: column-reverse; /* Moves image to the top */
    }
  
  
  .btn {
    font-size: 10px;
    padding: 10px 20px;
}
  img.image {
    max-width: 95vw;
    max-height: 75vh;
    margin-top: 0;
  }

  .main,
  #item {
    grid-column: span 1; /* Each div takes full width */
    text-align: center;
}
}
/* Style buttons */
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;

}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

/* Image Styling */
img.image {
  max-width: 80vw;
  max-height: 90vh;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2); /* Soft glow */
  transition: transform 0.3s ease-in-out;
  margin: 1.5rem;
}

/* Hover effect */
img.image:hover {
  transform: scale(1.02);
} 