<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/frontend/static/icons8-favicon-32.png" sizes="32x32"/>  
    <link rel="stylesheet" href="/frontend/static/css/image_view.css">
    <link rel="stylesheet" href="/frontend/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section class="container">
        <div class="main">
            <a href="../" class="fa fa-home"> Home</a>
            <h2>{{ caption }}</h2>
            <a id="download-link" href="{{ image_url }}" download>
                <button class="btn" style="width:100%"><i class="fa fa-download"></i> Download</button>
            </a>
        </div>

        <div id="item">
            <img class="image" src="{{ image_url }}" alt="Photo">
        </div>
    </section>

    <script src="/frontend/static/js/image_view.js"></script>
</body>
</html>