<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/static/favicon-32x32.png"/>  
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="/static/css/styles.css">

 
    <div class="container">
        <button id="theme-toggle">Toggle Theme</button>
    </div>
   

</head>
<body>
    <div class="wrapper">
        <div class="header">
            <a href="/"><img src="/static/logo.png" alt="Logo" class="logo-img"></a>
            <center><h1>Image Gallery</h1></center>
        </div>

        <div class="gallery" id="main">
            <!-- images here -->
                {% for image in results %}
                    <div class="image-container">
                        <img src="{{ image.urls.thumb }}" data-src="{{ image.urls.fhd }}"  alt="Photo"
                        onclick="openModal(this.src,'{{ image.urls.full }}')">
                    </div>
                {% endfor %}
            </div>

        <!-- Lightbox Modal -->
        <div id="modal" class="modal">
            <span class="close" onclick="closeModal()">&times;</span>
            <img class="modal-content" id="modal-img">
            <a id="download-link" download>
                <button id='save'><i class="fa fa-download"></i> Download</button>
            </a>
        </div>
        <!-- pagination -->
        <div class="pagination">
            {% if page > 1 %}
            <a href="{{ request.url_for('home') }}?page={{ page-1 }}">
                <button id="btnPrevious">&larr; </button>
            </a>
            {% endif %}

            <span id="page">Page {{ page }} of {{ total_pages }}</span>
                    
            {% if page < total_pages %}
            <a href="{{ request.url_for('home') }}?page={{ page+1 }}">
                <button id="btnNext">&rarr;</button>
            </a>
            {% endif %}
        </div>
        <div class="container">
            <div class="footer">
                <h5><strong><center>&copy;2025</strong></center></h5>
            </div>
        </div>
    </div>
    <script src="/static/js/scripts.js"></script>
</body>
</html>
