<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/frontend/static/icons/icons8-favicon-32.png"/>  
    <link rel="stylesheet" href="/frontend/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/frontend/static/css/styles.css">
    <link rel="stylesheet" href="/frontend/static/css/lightbox.css">
    
    <div class="toggle">
        <button id="theme-toggle">
            <i class="fa fa-moon-o" aria-hidden="true"></i>
        </button>
    </div>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="header-right">
                <a href="/">Home</a>
            </div>
        </div>
        <div class="container" id="main">
            <!-- images here -->
                {% for image in results %}
                <div class="image-container" >
                    <div class="caption">
                        <p>{{ image.caption }}</p>
                    </div>
                    <a href="{{ image.urls.fhd }}" data-lightbox="image" data-title="{{ image.caption }}">
                        <img class="image" src="{{ image.urls.thumb }}" data-src="{{ image.urls.fhd }}" alt="Photo">
                    </a>
                    <div class="download">
                        <a id="download-link" href="{{ image.urls.full }}" download>
                            <button class="btn"><i class="fa fa-download"></i></button>
                        </a>
                    </div>
                </div>
                {% endfor %}
        </div>       


        <!-- pagination -->
        <div class="pagination">
            <a href="{{ request.url_for('home') }}?page=1">
                <button id="first">&laquo; </button>
            </a>

            {% if page > 1 %}
            <a href="{{ request.url_for('home') }}?page={{ page-1 }}">
                <button id="btnPrevious">Previous</button>
            </a>
            {% endif %}

            <span id="page">Page {{ page }} of {{ total_pages }}</span>
                    
            {% if page < total_pages %}
            <a href="{{ request.url_for('home') }}?page={{ page+1 }}">
                <button id="btnNext">Next</button>
            </a>
            {% endif %}
            <a href="{{ request.url_for('home') }}?page={{ total_pages }}">
                <button id="last">&raquo; </button>
            </a>
        </div>
        <div class="footer">
            <h5><strong><center>&copy;2025</strong></center></h5>
        </div>
    </div>
    <script src="/frontend/static/js/scripts.js"></script>
    <script src="/frontend/static/js/lightbox-plus-jquery.js"></script>
    <script>
        lightbox.option({
            'disableScrolling':true,
            'positionFromTop':100
        })
    </script>
</body>
</html>
